
@font-face {
  font-family: 'Regular';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/fonts/DisplayRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Medium';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/fonts/DisplaySemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Bold';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/fonts/DisplayBold.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 14.3 31.8% 91.4%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 0deg 0% 9.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 13 99% 53%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
   --background: 0deg 0% 9.8%;
   --foreground: 210 40% 98%;
   --muted: 360 0% 15%;
   --muted-foreground: 215 20.2% 65.1%;

   --popover: 0deg 0% 9.8%;
   --popover-foreground: 210 40% 98%;

   --card: 222.2 84% 4.9%;
   --card-foreground: 210 40% 98%;

   --primary-foreground: 0deg 0% 9.8%;
   --primary: 210 40% 98%;

   --border: 360 0% 15%;
   --input: 360 0% 15%;

   --secondary: 217.2 32.6% 17.5%;
   --secondary-foreground: 210 40% 98%;

   --accent: 217.2 32.6% 17.5%;
   --accent-foreground: 210 40% 98%;

   --destructive: 0 62.8% 30.6%;
   --chart-1: 220 70% 50%;
   --chart-2: 160 60% 45%;
   --chart-3: 30 80% 55%;
   --chart-4: 280 65% 60%;
   --chart-5: 340 75% 55%;

 }
}

@layer base {

  * {
    @apply border-border font-normal;;
  }
  body {
    @apply bg-background text-foreground;
  }

  .expand{
    flex: 1;
    min-width: 1px;
  }

  .center{
    @apply flex flex-col items-center justify-center;
  }

  .contain-slider{
    @apply !max-w-[96vw] lg:!max-w-[1300px]
  }
}


@layer components {
 .vue-tel-input{
  @apply z-10 bg-transparent !border-input !rounded-md outline-none focus-within:outline-none  focus-within:!shadow-none focus-visible:outline-none focus-within:!ring-2 focus-within:!ring-ring
}

.vue-tel-input[data-hidden-select] .vti__dropdown {
  @apply hidden
}

.vue-tel-input .vti__input{
  @apply flex h-full w-full rounded-[inherit] border  bg-transparent px-3 py-1 text-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground   disabled:cursor-not-allowed disabled:opacity-50
}

.vue-tel-input .vti__dropdown,  .vue-tel-input .vti__dropdown.open{
  @apply bg-accent/10 rounded-l-md hover:bg-muted/80
}

.vue-tel-input .vti__dropdown-list{
  @apply bg-background rounded-md border-border min-w-[400px] w-full !overflow-y-auto overflow-x-hidden divide-y no-scrollbar;
}

.vue-tel-input .vti__search_box{
  @apply w-full border-0 p-2 !rounded-lg focus:ring-0  h-[40px];
}

.vue-tel-input .vti__dropdown-item{
  @apply bg-background hover:bg-muted/80 flex items-center gap-x-3 py-2 text-sm;
}

.vue-tel-input  .vti__dropdown-item.highlighted{
  @apply bg-accent/10
}

.otp-input{
  @apply flex h-[50px] md:h-[60px] w-full rounded-md border  bg-transparent px-3 py-1 text-sm transition-colors  placeholder:text-muted-foreground placeholder:text-lg disabled:cursor-not-allowed disabled:opacity-50 focus-within:outline-none  focus-within:!shadow-none focus-visible:outline-none focus-within:!ring-1 focus-within:!ring-ring text-center
}
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  . {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}